* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12rem auto 8rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* Figure */
a:not(.lightbox a), figure {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: inherit;
}

figure img {
    max-width: 800px;
    width: inherit;
    justify-self: center;
}

/********************/
/***** Header *****/
header {
    grid-area: header;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
}

header img {
    height: 200px;
}

/** Navigation */
nav {
    grid-area: nav;
    background-color: aquamarine;
    width: 100%;
    height: 3rem;
}

ul {
    padding: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center; /* This centers the items within the nav */
    align-items: start;
    gap: 3rem; /* Adds space between the items */
    height: inherit;
}

/* li {
    
} */

a {
    text-decoration: none;
}

/**************/
/***** Main content *****/

main {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "mainTop"
    "main-highlight"
    "main-text";
    background-color: antiquewhite;
    max-width: 1000px;
}


.mainTop {
    display: flex;
    flex-direction: column;

}


/******* REVIEW THIS ********/
/* .mainTop img {
    max-width: clamp(200px, 100%, 800px);
} */
/*******/

.highlight {
    grid-area: main-highlight;
    display: flex;
    flex-wrap: wrap;
    background-color: plum;
    gap: 1%;
}

article:not(.lightbox) {
    background-color: white;
    border: 3px white solid;
    width: 50%;
    height: 30rem;
}

.textBox {
    color: white;
    border: 2px red solid;
}

#wide {
    width: 100%;
    height: fit-content;
}
/* #tall {
    height: fit-content;
} */

footer {
    grid-area: footer;
    background-color: aqua;
}







@media (min-width: 728px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    }
    main {
        justify-self: center;
    }
}
@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
}
